Service:
  DeployType: ros
  DeployMetadata:
    SupplierDeployMetadata:
      DeployTimeout: 7200
      ArtifactRelation:
        centos_7_9_x64_20G_alibase_20240403.vhd:
          ArtifactId: ${Artifact.Artifact.ArtifactId}
          ArtifactVersion: draft
      SupplierTemplateConfigs:
        - Name: 单机版
          Url: ros_templates/template.yaml
          PredefinedParameters: []
          AllowedRegions:
            - cn-qingdao
            - cn-beijing
            - cn-zhangjiakou
            - cn-huhehaote
            - cn-wulanchabu
            - cn-hangzhou
            - cn-shanghai
            - cn-shenzhen
            - cn-heyuan
            - cn-guangzhou
            - cn-wuhan-lr
            - cn-chengdu
            - cn-hongkong
        - Name: 已有ACK部署
          Url: ros_templates/ack.yaml
          PredefinedParameters: []
          AllowedRegions:
            - cn-qingdao
            - cn-beijing
            - cn-zhangjiakou
            - cn-huhehaote
            - cn-wulanchabu
            - cn-hangzhou
            - cn-shanghai
            - cn-shenzhen
            - cn-heyuan
            - cn-guangzhou
            - cn-wuhan-lr
            - cn-chengdu
            - cn-hongkong
    TemplateConfigs:
      - Name: 单机版
        Url: ros_templates/template.yaml
        AllowedRegions:
          - cn-qingdao
          - cn-beijing
          - cn-zhangjiakou
          - cn-huhehaote
          - cn-wulanchabu
          - cn-hangzhou
          - cn-shanghai
          - cn-shenzhen
          - cn-heyuan
          - cn-guangzhou
          - cn-wuhan-lr
          - cn-chengdu
          - cn-hongkong
        PredefinedParameters: []
      - Name: 已有ACK部署
        Url: ros_templates/ack.yaml
        AllowedRegions:
          - cn-qingdao
          - cn-beijing
          - cn-zhangjiakou
          - cn-huhehaote
          - cn-wulanchabu
          - cn-hangzhou
          - cn-shanghai
          - cn-shenzhen
          - cn-heyuan
          - cn-guangzhou
          - cn-wuhan-lr
          - cn-chengdu
          - cn-hongkong
        PredefinedParameters: []
      DeployScene: ACK_EXIST
      OutputConfigs:
      - OutputKey: AgentScope Studio 服务器地址
        EnableWebProxy: true
    NetworkMetadata:
      EnablePrivateVpcConnection: false
      EnableReversePrivateVpcConnection: false
    ServiceInstanceNameRule:
      Prefix: AgentScopeStudio-
      UseDefaultValue: true
  OperationMetadata:
    SupportBackup: false
    PrometheusConfigMap:
      单机版:
        EnablePrometheus: false
      已有ACK部署:
        EnablePrometheus: false
  ServiceType: private
  ServiceInfo:
    Locale: zh-CN
    ShortDescription: AgentScope Studio
      是一个强大的本地可视化工具包，用于开发代理应用程序，支持项目管理、运行时可视化、跟踪和代理评估。
    Image: resources/icons/service_logo.png
    Name: AgentScope Studio 社区版
    Softwares:
    - Name: agentscope-studio
      Version: v1.0.7
  ShareType: Public
  ApprovalType: Manual
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: agentscopestudio
    Description: agentscopestudio
    SupportRegionIds:
    - cn-qingdao
    - cn-beijing
    - cn-zhangjiakou
    - cn-huhehaote
    - cn-wulanchabu
    - cn-hangzhou
    - cn-shanghai
    - cn-shenzhen
    - cn-heyuan
    - cn-guangzhou
    - cn-wuhan-lr
    - cn-chengdu
    - cn-hongkong
    ArtifactBuildProperty:
      CodeRepo:
        Platform: github
        Owner: LYH-RAIN
        RepoName: aliyun-computenest/quickstart-LobeChat
        Branch: main
      RegionId: ap-hongkong
      CommandType: RunShellScript
      CommandContent: |-
        #!/bin/bash
        set -e

        sudo yum install -y curl gnupg

        curl -fsSL https://rpm.nodesource.com/setup_20.x | sudo bash -

        sudo yum install -y nodejs

        sudo npm install -g @agentscope/studio

        AS_STUDIO_PATH=$(which as_studio)
        if [ -z "$AS_STUDIO_PATH" ]; then
          echo "as_studio not found"
          exit 1
        fi

        # 创建 systemd 服务
        sudo tee /etc/systemd/system/agentscope-studio.service > /dev/null <<EOF
        [Unit]
        Description=AgentScope Studio Service
        After=network.target

        [Service]
        Type=simple
        User=root
        WorkingDirectory=/root
        ExecStart=$AS_STUDIO_PATH
        Restart=always
        RestartSec=10
        Environment=NODE_ENV=production

        [Install]
        WantedBy=multi-user.target
        EOF

        sudo systemctl daemon-reload
        sudo systemctl enable --now agentscope-studio.service
