Service:
  DeployType: ros
  DeployMetadata:
    SupplierDeployMetadata:
      DeployTimeout: 7200
      ArtifactRelation:
        centos_7_9_x64_20G_alibase_20240403.vhd:
          ArtifactId: ${Artifact.Artifact.ArtifactId}
          ArtifactVersion: draft
      SupplierTemplateConfigs:
        - Name: 单机版
          Url: ros_templates/template.yaml
          PredefinedParameters: []
          AllowedRegions:
            - cn-qingdao
            - cn-beijing
            - cn-zhangjiakou
            - cn-huhehaote
            - cn-wulanchabu
            - cn-hangzhou
            - cn-shanghai
            - cn-shenzhen
            - cn-heyuan
            - cn-guangzhou
            - cn-wuhan-lr
            - cn-chengdu
            - cn-hongkong
        - Name: 已有ACK部署
          Url: ros_templates/ack.yaml
          PredefinedParameters: []
          AllowedRegions:
            - cn-qingdao
            - cn-beijing
            - cn-zhangjiakou
            - cn-huhehaote
            - cn-wulanchabu
            - cn-hangzhou
            - cn-shanghai
            - cn-shenzhen
            - cn-heyuan
            - cn-guangzhou
            - cn-wuhan-lr
            - cn-chengdu
            - cn-hongkong
    TemplateConfigs:
      - Name: 单机版
        Url: ros_templates/template.yaml
        AllowedRegions:
          - cn-qingdao
          - cn-beijing
          - cn-zhangjiakou
          - cn-huhehaote
          - cn-wulanchabu
          - cn-hangzhou
          - cn-shanghai
          - cn-shenzhen
          - cn-heyuan
          - cn-guangzhou
          - cn-wuhan-lr
          - cn-chengdu
          - cn-hongkong
        PredefinedParameters: []
      - Name: 已有ACK部署
        Url: ros_templates/ack.yaml
        AllowedRegions:
          - cn-qingdao
          - cn-beijing
          - cn-zhangjiakou
          - cn-huhehaote
          - cn-wulanchabu
          - cn-hangzhou
          - cn-shanghai
          - cn-shenzhen
          - cn-heyuan
          - cn-guangzhou
          - cn-wuhan-lr
          - cn-chengdu
          - cn-hongkong
        PredefinedParameters: []
      DeployScene: ACK_EXIST
      OutputConfigs:
      - OutputKey: AgentScope Studio 服务器地址
        EnableWebProxy: true
    NetworkMetadata:
      EnablePrivateVpcConnection: false
      EnableReversePrivateVpcConnection: false
    ServiceInstanceNameRule:
      Prefix: AgentScopeStudio-
      UseDefaultValue: true
  OperationMetadata:
    SupportBackup: false
    PrometheusConfigMap:
      单机版:
        EnablePrometheus: false
      已有ACK部署:
        EnablePrometheus: false
  ServiceType: private
  ServiceInfo:
    Locale: zh-CN
    ShortDescription: AgentScope Studio
      是一个强大的本地可视化工具包，用于开发代理应用程序，支持项目管理、运行时可视化、跟踪和代理评估。
    Image: resources/icons/service_logo.png
    Name: AgentScope Studio 社区版
    Softwares:
    - Name: agentscope-studio
      Version: v1.0.7
  ShareType: Public
  ApprovalType: Manual
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: agentscopestudio
    Description: agentscopestudio
    SupportRegionIds:
    - cn-qingdao
    - cn-beijing
    - cn-zhangjiakou
    - cn-huhehaote
    - cn-wulanchabu
    - cn-hangzhou
    - cn-shanghai
    - cn-shenzhen
    - cn-heyuan
    - cn-guangzhou
    - cn-wuhan-lr
    - cn-chengdu
    - cn-hongkong
    ArtifactBuildProperty:
      CodeRepo:
        Platform: github
        Owner: LYH-RAIN
        RepoName: aliyun-computenest/quickstart-LobeChat
        Branch: main
      RegionId: ap-hongkong
      CommandType: RunShellScript
      CommandContent: |-
      #!/bin/bash
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # 立即加载 NVM
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # 加载自动补全
      sudo nvm install --lts
      sudo npm install -g @agentscope/studio

      sudo cat > /usr/lib/systemd/system/agentscopestudio.service << SERVICE_EOF
      [Unit]
      Description=Application init service
      Wants=cloud-final.service
      Requires=network-online.target
      After=network-online.target cloud-final.service

      [Service]
      Environment="PATH=/root/.nvm/versions/node/v22.21.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      ExecStart=/root/.nvm/versions/node/v22.21.0/bin/as_studio
      RemainAfterExit=false
      KillMode=control-group
      Restart=Always
      WorkingDirectory=/root

      [Install]
      WantedBy=multi-user.target

      SERVICE_EOF

      sudo systemctl daemon-reload
      sudo systemctl enable agentscopestudio.service
      sudo systemctl start agentscopestudio.service
